# Geekbench 5 CUDA Web Scrapper

Geekbench 6 currently does not have CUDA benchmarks available

In [1]:
import pandas as pd

In [2]:
CUDA = pd.read_html('https://web.archive.org/web/20230201040146/https://browser.geekbench.com/cuda-benchmarks')

In [3]:
len(CUDA)

2

In [4]:
CUDA[1]

                         Device   Score  Unnamed: 2
0    NVIDIA GeForce RTX 3090 Ti  260346         NaN
1         NVIDIA A100 80GB PCIe  259828         NaN
2         NVIDIA A100-PCIE-80GB  256292         NaN
3              GeForce RTX 3090  238123         NaN
4         NVIDIA A100-SXM4-40GB  237220         NaN
..                          ...     ...         ...
396                Quadro K610M    1504         NaN
397                 Quadro K600    1356         NaN
398                 Quadro K420    1350         NaN
399               Quadro K1000M    1335         NaN
400                     NVS 510    1282         NaN

[401 rows x 3 columns]

In [5]:
cuda_df = pd.DataFrame(CUDA[1])
cuda_df

                         Device   Score  Unnamed: 2
0    NVIDIA GeForce RTX 3090 Ti  260346         NaN
1         NVIDIA A100 80GB PCIe  259828         NaN
2         NVIDIA A100-PCIE-80GB  256292         NaN
3              GeForce RTX 3090  238123         NaN
4         NVIDIA A100-SXM4-40GB  237220         NaN
..                          ...     ...         ...
396                Quadro K610M    1504         NaN
397                 Quadro K600    1356         NaN
398                 Quadro K420    1350         NaN
399               Quadro K1000M    1335         NaN
400                     NVS 510    1282         NaN

[401 rows x 3 columns]

In [6]:
cuda_df = cuda_df.drop(columns=['Unnamed: 2'])
cuda_df

                         Device   Score
0    NVIDIA GeForce RTX 3090 Ti  260346
1         NVIDIA A100 80GB PCIe  259828
2         NVIDIA A100-PCIE-80GB  256292
3              GeForce RTX 3090  238123
4         NVIDIA A100-SXM4-40GB  237220
..                          ...     ...
396                Quadro K610M    1504
397                 Quadro K600    1356
398                 Quadro K420    1350
399               Quadro K1000M    1335
400                     NVS 510    1282

[401 rows x 2 columns]

In [7]:
cuda_df.to_csv(r'/Users/William/Library/Mobile Documents/com~apple~CloudDocs/Data Analyst Projects/GPU/datasets/GeekBench5_CUDA.csv')